*
{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.bodybody{
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  /* background: #fff; */
}
.container-two
{
  position: relative;
  display: flex;
  padding: 80px 40px;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap:80px;

}
.card-two
{
  position: relative;
  width: 350px;
  height: 180px;
  background: #fff;
  transition: 0.5s;
}
.card-two:hover
{
  height: 450px;
}
.card-two .lines-two{
  position: absolute;
  inset: 0;
  background: #fff;
  overflow: hidden;
}
.card-two .lines-two::before
{
  content: '';
  position: absolute;
  top: 50%;
  left: 50%;
  width: 600px;
  height: 120px;
  background: linear-gradient(transparent,#2C6975,#2C6975,#2C6975,transparent);
  animation: animate 4s linear infinite;
  animation-play-state: paused;
}
.card-two:hover .lines-two::before
{
  animation-play-state: running;
}
@keyframes animate1
{
    0%
    {
        transform: translate(-50%, -50%) rotate(0deg);
    }
    100%
    {
      transform: translate(-50%, -50%) rotate(360deg);
    }
}
.card-two .lines-two::after{
  content: '';
  position: absolute;
  inset: 3px;
  background: #fff;
}
.card-two .imgBx-two{
  position: absolute;
  top: -60px;
  left: 50%;
  width: 150px;
  height: 150px;
  transform: translateX(-50%);
  background: #fff;
  transition: 0.5s;
  z-index: 10;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-self: center;
}
.card-two:hover .imgBx-two
{
  top: 25px;
  width: 200px;
  height: 200px;
}
.card-two .imgBx-two::before
{
  content: '';
  position: absolute;
  top:50%;
  left:50%;
  width: 500px;
  height: 150px;
  transform: translate(-50%, -50%);
  background: linear-gradient(transparent,#2C6975,#2C6975,#2C6975,transparent);
  animation: animate2 6s linear infinite;
  animation-play-state: paused;
}
.card-two:hover .imgBx-two::before
{
  animation-play-state: running;
}
@keyframes animate2
{
    0%
    {
        transform: translate(-50%, -50%) rotate(360deg);
    }
    100%
    {
      transform: translate(-50%, -50%) rotate(0deg);
    }
}
.card-two .imgBx-two::after
{
  content: '';
  position: absolute;
  inset: 3px;
  background: #fff;
}
 .card-two .imgBx-two img{
  position: absolute;
  width: 100px;
  z-index: 1;
  /* filter: invert(1); */
  opacity: 0.5s;
  transition: 0.5s;
} 
.card-two:hover .imgBx-two img
{
  opacity: 1;
}
.card-two .content-two
{
  position: absolute;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  overflow: hidden;
}
.card-two .content-two .details-two{
  padding: 30px 20px;
  text-align: center;
  width: 100%;
  transition: 0.5s;
  transform: translateY(145px);
}
.card-two:hover .content-two  .details-two
{
  transform: translateY(0px);
}
.card-two .content-two .details-two h2 
{
  font-size: 1.5rem;
  font-weight: 500;
  color: #2C6975;
  line-height: 1.2rem;
}
.card-two .content-two .details-two p
{
  color: #333;
  opacity: 0;
  transition: 0.5s;
}
.card-two:hover .content-two  .details-two p
{
  opacity: 1;
}
.card-two .content-two .details-two button
{
  display: inline-block;
  padding: 8px 15px;
  background: #2C6975;
  color: #292929;
  margin-top: 10px;
  font-weight: 500;
  text-decoration: none;
  opacity: 0;
  transition: 0.5s;
}
.card-two:hover .content-two .details-two p,
.card-two:hover .content-two .details-two button
{
  opacity : 1;
}




@media (min-width: 200px) and (max-width: 992px){
    .previous{
      margin:  40px 60px;
     

    }
      

}
.container{
    margin-top: 100px;
    
}

/* paper */
.paper{
  display: grid;
  grid-template-columns: repeat(auto-fit,minmax(350px,auto));
  grid-gap: 40px;
}
.search{
  background:#fff;
  width:350px;
  border:2px solid black;
}


@media (min-width: 200px) and (max-width: 992px){
  .pbox{
  margin: 5px 30px;
  }
  .search{
   width:300px;
  }

    

}